/* root */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    
}

body {
    width: 1585px;
    height: 780px;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: block;
    justify-content: center;
    background-color: #f0f1f5;
}


/* principal */

.main_container {
    
    margin-bottom: 140px;
    min-height: 500px;
    padding-left: 18%;
    display: block;
    
}

.fast_login {
    margin-left: 15px;
    margin-top: -25px;
}

.container_login {
    
    margin-top: 80px;
    
    display: flex;
}

.logotipo img {
    height: 70px;
    margin-left: -20px;
}

.titulo_login {
    font-size: 28px;
    color: #1c1e21;
}

.instrucao_login {
    font-size: 15px;
    margin-bottom: 20px;
    color:#606770;
}

.container_accounts {
    display: flex;
}

.conta1 {
    width: 160px;
    height: 200px;
    background-color: #fff;
    
    border-radius: 6px;
}

.conta1 img {
    align-items: center;
    margin-bottom: 6px;
    border-radius: 6px;
}

.text {
    text-align: center;
    }

.conta1 a {
    text-decoration: none;
    text-align: center;
    
}

.adicionar_conta {
    margin-left: 20px;
    width: 160px;
    height: 200px;
    background-color: #fff;
    
    border-radius: 6px;
}

.adicionar_conta img {
    align-items: center;
    
    margin-bottom: 6px;
    border-radius: 6px;
    height: 160px;
    width: 160px;
}

.adicionar_conta a {
    text-decoration: none;
    text-align: center;
    margin-top: 10px;
}

.login_email {
    display: block;
    align-items: center;
    margin-top: 50px;
    margin-left: 255px;
    object-position: center;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    padding: 20px;
    
}

.endereco_email {
    display: block;
    width: 364px;
    height: 52px;
    font-size: 17px;
    border-radius: 6px;
    border: 1px solid #dddfe2;
    align-items: center;
    margin-bottom: 10px;
    
}

.endereco_email input {
    align-items: center;
    line-height: 16px;
    font-size: 17px;
    border: none;
    margin-top: 17px;
    margin-left: 10px;
    width: 300px;
    height: 22px;
}


.senha_login {
    display: block;
    width: 364px;
    height: 52px;
    font-size: 17px;
    border-radius: 6px;
    border: 1px solid #dddfe2;
    align-items: center;
    margin-bottom: 20px;
}

.senha_login input {
    align-items: center;
    line-height: 16px;
    margin-top: 17px;
    margin-left: 10px;
    font-size: 17px;
    border: none;
    width: 300px;
}

.botao_entrar {
    margin-bottom: 20px;
}

.botao_entrar button{
    display:block;
    width: 364px;
    height: 52px;
    background-color: #4267b2;
    color: #fff;
    font-weight: bold;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    border-radius: 6px;
    
}



.botao_novaconta button{
    display:block;
    width: 166px;
    height: 48px;
    background-color: #42b72a;
    color: #fff;
    font-weight: bold;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    border-radius: 6px;
    margin-left: 95px;
    
}

.esqueceu_senha {
    display: block;
    text-align: center;
    margin-bottom: 20px;
}

.divisor_login {
    border: 1px solid #dadde1;
    display: block;
    margin-bottom: 20px;
}

.criar_pagina {
    margin-top: 20px;
    padding-left: 622px;
    font-size: 14px;
}

.criar_pagina a {
    font-weight: bold;
    color: #000;
}

.main_footer {
    width: 1585px;
    height: 165px;
    background-color: #fff;
    padding-top: 20px;

}

.footer_container{
    
    bottom:0;
    width:980px;
    height: 136px;
    margin: 0 302.5px;
    
}

.footer_container a {
    font-size: 12px;
    
}

.content_curve {
    border-bottom: 1px solid #dddfe2;
    font-size: 1px;
    height: 8px;
    margin-bottom: 8px;
}

.a1 {
    padding: 0 0 0 20px;
}

.otherapps {
    width: 1000px;
    height: 57px;
}

.lista_links {
    list-style: none;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

.lista_idiomas a {
    color: #8a8d91;

}

.lista_links a {
    color: #8a8d91;
    
}

.lista_idiomas button {
    width: 27px;
    height: 19px;
    margin-top: 1px;
}



.sign {
    font-size: 11px;
    padding: 0 0 0 20px;
    margin-top: 15px;
    
}

